* {
    box-sizing: border-box;
    margin: 0;
    background-color: #F5F1E8;
}

.headbillede {
    height: 200px;
}
_____________
--section 1--

.textbox1 {
    margin: 0 140px;
}

h1 {
    color: #1B3308;
    font-family: "airbnb-cereal-app", sans-serif;
    font-size: 32px;
}

p {
    color: #222222;
    font-family: "airbnb-cereal-app", sans-serif;
    font-size: 20px;
}

h2 {
    color: #F5F1E8;
}

.hvid {
    color: #F5F1E8;
}

.photo {
    width: 25%;
    height: auto;
}

.green-background {
    background-color: #A1BA8C;
}
__________________
--billedegalleri--

.billedegalleri {
    display: flex;
}

.photo {
    width: 25%;
    aspect-ratio: 1/1;
}