body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:beige
}

.topbar {
  background-color: #1f1f1f;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
}

.menu a {
  color: rgb(149, 207, 174);
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: #6b6653;
}