* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Manrope", sans-serif;
    background-color: #F4F0E6;
}
.hero {
    height: 65vh; /* Fylder hele skærmens højde */
    background-image: url("img/kano.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
}

.moods {padding: 80px 40px;}
.mood-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 40px;
}
.mood-card {
     background: #BFD8B8;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}