* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Manrope", sans-serif;
    background-color: #F4F0E6;
}
header {
    height: 80px;
    background-color: #F4F0E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #263d25;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #263d25;
    font-size: 16px;
}
.hero {
    height: 65vh; /* Fylder hele skærmens højde */
    background-image: url("img/kano.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 140px;

    align-items: flex-start;
    text-align: left;
    padding-left: 70px;

    color: #F4F0E6;
}

.hero-knap {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 25px;
    background-color: #BFD8B8;
    color: #263d25;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
}

.moods {padding: 80px 40px;}
.moods h2 {
    color: #6B4F3A;
    font-size: 1,5rem;
    margin-bottom: 10px;
}
.mood-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    border-radius: 10px;
    overflow: hidden;
}
.mood-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.mood-card {
     background: #BFD8B8;
    border-radius: 20px;
    text-align: center;
}
.mood-card h3 {
    color: #6B4F3A;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 600;
}

.text {
    padding: 20px 5px;
}